unet_tuner_results/
data/
apresentações/
copernicus/

*.dbf
*.prj
*.qmd
*.shp
*.shx

*.tiff
*.xml
*.tif

*.npy

*Zone.Identifier

attention_unet_sugarcane.keras
deeplabv3_sugarcane.keras
deeplabv3_plus_sugarcane.keras
fpn_sugarcane.keras
pspnet_sugarcane.keras
unet_sugarcane_2bandas.keras
unet_sugarcane_area.keras
unet_sugarcane_base.keras